/*
===============================================================================
    data.css (Styles for data.html)
===============================================================================
 */

table {
    table-layout: fixed;
}

table th, table td {
    overflow: hidden;
    text-align: center;
}